<div class="error text-danger">
<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
    <ul><% @user.errors.full_messages.each do |message| %></ul>
    <li><%= message %></li>
  <% end %>
<% end %>
</div>

<div class="container">
 <div class="row">
  <div class="mx-auto ol-md-10">
   
    <h2>User info</h2>
    <div class="user-edit">
      <%= form_with model:@user, local:true do |f| %>

       <div class="edit-field">
        <label for="input-name">Name</label><br />
          <%= f.text_field :name, class:"form-control name" %>
       </div>
    
        <div class="edit-field">
        <label for="input-image">Image</label><br />
          <%= f.attachment_field :profile_image %>
        </div>
    
        <div class="edit-field">
        <label for="input-introduction">Introduction</label><br />
          <%= f.text_area :introduction, class:"form-control introduction" %>
        </div>
    
       <div class="edit-action">
          <%= f.submit "Update User", class:"btn btn-secondary mt-3 mb-3" %>
       </div>

      <% end %>
     </div>
     
  </div>
 </div>
</div>