  <div class="sidebar">
    <h1>User info</h1>
      <%= image_tag("no_image.jpg") %>
      <h3><%= current_user.name %></h3>
      <h3><%= current_user.introduction %></h3>
      <%= link_to "profile-edit", edit_user_path(current_user.id) %>
  </div>
  
    <h1>New book</h1>
    <%= form_with model:@book, local:true do |f| %>

  <div class="book-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="book-field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="book-action">
    <%= f.submit "Create Book" %>
  </div>
    <% end %>

<div class="main">
  <h1>Books</h1>
    <table>
      <thead>
        <tr>Image</tr>
        <tr>Name</tr>
        <tr></tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td></td>
          <td><%= user.name %></td>
          <td><%= link_to "show", user_path(user.id) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>    