<div class="container">  
  <div class="row">
    <div class="col-lg-4">
      <div class="user-info">
        <h1>User info</h1>
          <p><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></p>
          <p><%= @user.name %></p>
          <p><%= @user.introduction %></p>
         
          <% if @user.id == current_user.id %>
          <%= link_to "profile-edit", edit_user_path(current_user.id) %>
          <% end %>
      </div>    
      
      <div class="book-form">
      <h1>New book</h1>
        <div class="book-form-content">
        <%= form_with model:@book, local:true do |f| %>

        <div class="book-field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div class="book-field">
          <%= f.label :body %>
          <%= f.text_area :body %>
        </div>

        <div class="book-action">
          <%= f.submit "Create Book" %>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  
    <div class="col-lg-8">
    <h1>Books</h1>
      <table class="table table-strip">
        <thead>
          <tr>Image</tr>
          <tr>Name</tr>
          <tr></tr>
        </thead>
        
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td><%= link_to "show", user_path(user.id) %></td>
          </tr>
        <% end %>
        <%= paginate @users %>
      </tbody>
    </table>
    </div>
  </div>
</div>
