<div class="errors"><% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
   <ul><% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
        <% end %>
       <% end %>
   </ul>
</div>

<div class="edit">
  <h1>Editing Book</h1>
    <%= form_with model:@book, local:true do |f| %>
 
     <div class="edit-book">
       <%= f.label :title %>
       <%= f.text_field :title %>
     </div>
  
     <div class="edit-book">
       <%= f.label :body %>
       <%= f.text_field :body %>
     </div>
  
     <div class="edit-go">
       <%= f.submit 'Update Book' %>
     </div>
  
    <% end %>
    
    <div class="edit-link">
      <%= link_to "Show", book_path(@book.id) %>|<%= link_to "Back", books_path %>
    </div>
    
</div>