  <div class="sidebar">
    <h1>User info</h1>
      <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
      
      <h3><%= current_user.name %></h3>
      
      <h3><%= current_user.introduction %></h3>
      
      <% if current_user.id == current_user.id %>
      <%= link_to "profile-edit", edit_user_path(current_user.id) %>
      <% end %>
      
  </div>
  
    <h1>New book</h1>
    <%= form_with model:@book, local:true do |f| %>

  <div class="book-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="book-field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="book-action">
    <%= f.submit "Create Book" %>
  </div>
    <% end %>

<div class="main">
  <h1>Books</h1>
    <table>
      <thead>
        <tr></tr>
        <tr>Title</tr>
        <tr>Opinion</tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
          <td><%= link_to book_path(book.id) do %><%= book.title %><% end %></td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>    