  <div class="error_explanation text-danger">
        <% if @books.errors.any? %>
        <h3><%= @books.errors.count %>error prohibited this obj from being saved:</h3>
          <ul><% @books.errors.full_messages.each do |message| %>
           <li><%= message %></li>
           <% end %>
           </ul>
        <% end %>
      </div>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'books/list', books: @books, user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-invers">

        <thead>
          <tr>
            <th></th>
            <th>Title</th><th>Opinion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @book.each do |book| %>

            <tr>
              <td><%= link_to user_path(book.user.id) do %><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %><% end %></td>
              <td><%= link_to book_path(book.id) do %><%= book.title %><% end %></td>
              <td><%= book.body %></td>
              <td id="book_<%= book.id %>">
                <%= render 'book', book: book %>
              </td>
              <td>コメント数：<%= book.book_comments.count %></td>
            </tr>
          <% end %>
           <%= paginate @book %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  
</script>