.sidebar
  %h1 User info
  = @user.name
  %h1 New book
  = form_with model:@book, local:true do |f|
    .book-field
      = f.label :title
      = f.text_field :title
    .book-field
      = f.label :body
      = f.text_area :body
    .book-action
      = f.submit "Create Book"
.main
  %h1 Books
  %table
    %thead
      %tr
      %tr
      %tr
      %tr
      %tr
    %tbody
      %tr
        %td= link_to "name", book_path
        %td= @book.title
        %td= @book.body
        %td= link_to "Edit", edit_book_path(@book.id)
        %td= link_to "Destroy", book_path(@book.id), method: :delete
